diffusers[torch]
xformers==0.0.16
transformers
bitsandbytes==0.35.4
decord==0.6.0
pytorch-lightning
omegaconf
nerfacc==0.3.3
trimesh
pyhocon==0.3.57
icecream==2.1.0
PyMCubes
accelerate
modelcards
einops
ftfy
piq
matplotlib
opencv-python
imageio
imageio-ffmpeg
scipy
pyransac3d
torch_efficient_distloss
tensorboard
rembg
segment_anything

